.banner-about {
    width: 100%;
    border-radius: 10px;
    padding: 30px 100px;
  }

  @media screen and (max-width: 768px){
    .banner-about{
      padding: 0 15px 0 15px;
      height: 111px;
      margin-bottom: 30px;
     
    }
  }
