/*************   STYLE CARD *************/
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}

.card-container {
  background: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  gap: 20px;
  column-gap: 50px;
  margin: 30px 100px;
  padding: 30px 50px 50px 50px;

  img {
    width: 100%;
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
    filter: brightness(75%) saturate(140%);
    margin-top: 30px;
    transition: 600ms linear;
    &:hover {
      transition: transform 300ms;
      transform: scale(1.1);
    }
  }
  .card {
    &__link {
      position: relative;
      display: flex;
    }
    &__label {
      font-weight: 500;
      color: #fff;
      font-size: 18px;
      overflow-wrap: break-word;
      inline-size: 250px;
      position: absolute;
      left: 10px;
      bottom: 30px;
    }
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    margin: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0 15px;
    gap: 0;
  }
}
