$absolute: absolute;
$relative: relative;
$basicColor: #ff6060;
$alternativeColor: #ffff;
$basicBackround: #ff6060;
$borderRadius: 10px;
$fontSize14: 14px;
$fontSize500: 500;
$fontFamily: Montserrat;
$width100 :100%;

@mixin column {
  display: flex;
  flex-direction: column;
}
@mixin flexEnd{
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
@mixin wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin center-children {
  display: flex;
  align-items: center;
}
@mixin space-between {
  display: flex;
  justify-content: space-between;
}

.container-gallery {
  margin: 30px 100px;
  position: relative;


  img {
    width: $width100;
    height: 450px;
    // height: 100%;
    object-fit: cover;
    border-radius: 25px;
  }
  p .fa-solid {
    font-size: 75px;
    color: $alternativeColor;
  }
  .arrow-left {
    position: $absolute;
    top: 14rem;
    left: 6rem;
  }
  .arrow-right {
    position: $absolute;
    top: 14rem;
    right: 3rem;
  }
  span.carousel-counter {
    @include center-children;
    justify-content: center;
    position: $relative;
    bottom: 5rem;

    color: $alternativeColor;
    font-size: 18px;
  }
}

// section d'information
.contenu {
  margin-top: 30px;

  .infos {
    @include space-between();
    title {
      justify-content: flex-start;
      @include center-children;
    }
    h2,
    p {
      color: $basicColor;
      line-height: 40px;
    }
    h2 {
      font-size: 36px;
    }
    p {
      font-size: 18px;
    }
    .tag ul {
      color: $alternativeColor;
      @include center-children;
      margin: 25px 0 30px 0;
      border-radius: $borderRadius;
      font-size: $fontSize14;
      font-weight: $fontSize500;
      gap: 2rem;
      li {
        background-color: $basicBackround;
        padding: 5px 30px 5px 30px;
        border-radius: $borderRadius;
        font-family: $fontFamily;
        font-size: $fontSize14;
        font-weight: $fontSize500;
      }
    }

    .host {
      @include column;
      padding: 0;
      margin: 0;
      img {
        width: 65px;
        height: 65px;
        object-fit: cover;
        border-radius: 50%;
      }
      .name-pic {
        display: flex;
        margin-left: 47px;
        .name p {
          width: 80px;
        @include flexEnd;
          padding-right: 20px;
          line-height: 20px;
          font-size: 18px;
        }
      }
      .rating {
        display: flex;
        gap: 12px;
        padding: 30px 0px 0 20px;
      }
    }
    // .description{
    //   position: relative;
    //   top: 20px;
    //   right: 50px;
    // }
  }
  .collapse-container {
    @include space-between();
    gap: 50px;
    margin-top: 5px;
    .fl-collapse-title, .fl-collapse-description {
      width: $width100;
    }
   
  }
}
@media screen and (max-width: 768px) {
  .container-gallery {
    margin: 0 15px;
    img {
      width: $width100;
      height: 255px;
    }
    p .fa-solid {
      font-size: 30px;
    }
    .arrow-left {
      top: 9rem;
      left: 3em;
    }
    .arrow-right {
      top: 9rem;
      right: 0em;
    }
    span.carousel-counter {
      display: none;
    }
  }
  .contenu {
    margin-top: -15px;

    .infos,
    .collapse-container {
      @include column;

      .title h2 {
        font-size: 22px;
        font-weight: 500;
        margin-top: 30px;
        line-height: 30px;
      }
      .title p {
        font-size: 16px;
        margin-bottom: 10px;
        line-height: 50px;
      }
      .tag ul, li {
        @include wrap;

       
      }
      .host {
        @include center-children;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 20px;
        img {
          width: 45px;
          height: 45px;
        }
        .name-pic {
          @include flexEnd;
          .name p {
            font-size: 14px;
          }
        }
        .rating {
          padding: 0;

          .svg:focus {
            font-size: 14px;
          }
        }
      }
    }
    .collapse-container {
      @include column;
      gap: 0;
      margin-bottom: -40px;
    }
  }
  footer {
    margin-top: -20px;
  }
}
// @media screen and (min-width(765) and max-width: 768px){

// }