/*************   STYLE CARD *************/
* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  text-decoration: none !important;
  margin: 0;
  padding: 0;
}
.card-container {
  background: #f6f6f6;
  border-radius: 25px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  column-gap: 50px;
  margin: 30px 50px 50px 50px;
  padding: 20px 30px 50px 30px;

  img {
    width: 100%;
    border-radius: 10px;
    height: 340px;
    object-fit: cover;
    // filter: brightness(75%) saturate(140%);
  }
   p {
    font-weight: 500;
    color: #de2f2f;
    font-size: 18px;
    overflow-wrap: break-word;
    inline-size: 250px;
    position: relative;
    top: 18rem;
    left: 15px;
  }
}

@media screen and (max-width: 768px) {
  .card-container {
    margin: 0;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 25px 15px 0 15px;
}
  }

