/*************   STYLE HEADER *************/

.navbar {
  margin: 30px 50px 50px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  ul a {
    font-family: Montserrat, sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #ff6060;
    text-decoration: none !important;
    margin-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    margin: 30px 15px;
    align-items: center;

    img {
      width: 145px;
    }
    ul a {
      font-size: 12px;
    }
  }
}

