$color: #ff6060;
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  color: $color;
  .erreur-code {
    font-size: 245px;

    @include center;
  }
  .erreur-message {
    font-size: 36px;
    @include center;
    margin-top: 100px;
  }
  .erreur-home a {
    color: $color;
    font-size: 18px;
    @include center;
    margin: 100px 0 100px 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .erreur-code {
      font-size: 96px;
    }

    .erreur-message {
      font-size: 18px;
      @include center;
    }
    .erreur-home a {
      font-size: 14px;
    }
  }
}
